<div id="{{id}}1" class="carousel slide" data-ride="carousel" attr.data-interval="{{dataInterval}}">
  <!-- Indicators for slides -->
  <ol class="carousel-indicators">
    <template ngFor let-item [ngForOf]="photos" let-i="index">
      <li *ngIf="i === 0" attr.data-target="#{{id}}1" [attr.data-slide-to]="i" class="active"></li>
      <li *ngIf="i !== 0" attr.data-target="#{{id}}1" [attr.data-slide-to]="i"></li>
    </template>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <template ngFor let-photo [ngForOf]="photos" let-i="index">
      <div *ngIf="i === 0" class="item active">
        <img class="img-responsive img-full img-with-text" src="{{photo.src}}" alt="{{photo.alt}}">
        <span *ngIf="photo.caption !== undefined" class="text-overlay">{{photo.caption}}</span>
        <span *ngIf="photo.linkText !== undefined" class="text-overlay">
          <a *ngIf="photo.link !== undefined" routerLink="{{photo.link}}" fragment="top">{{photo.linkText}}</a>
        </span>
      </div>
      <div *ngIf="i !== 0" class="item">
        <img class="img-responsive img-full img-with-text" src="{{photo.src}}" alt="{{photo.alt}}">
        <span *ngIf="photo.caption !== undefined" class="text-overlay">{{photo.caption}}</span>
        <span *ngIf="photo.linkText !== undefined" class="text-overlay">
          <a *ngIf="photo.link !== undefined" routerLink="{{photo.link}}" fragment="top">{{photo.linkText}}</a>
        </span>
      </div>
    </template>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#{{id}}1" data-slide="prev"> <span class="icon-prev"></span></a>
  <a class="right carousel-control" href="#{{id}}1" data-slide="next"> <span class="icon-next"></span>
</a>
</div>
