.text-overlay {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  color: white;
  font: 24px bold;
  background: rgba(0,0,0,0.7);
  padding: 10px;
  text-align: center;
}

.text-overlay a {
  color: white;
}
