.inputdiv {
	padding-right: 20px;
}

.topbar {
	background: rgba(0, 0, 0, 0.7);
	height: 20px;
}

.sidebar {
	border-right: 1px gray solid;
	box-shadow: 3px 3px 2px #eeeeee;
	height: 100%;
}

.homeinfo {
	font-size: 26px;
	font-weight: 400;
}

.ui-galleria-panel {
	width: 750px;
	height: 537px;
}

.ui-galleria-panel img {
	width: 750px;
	height: 537px;
}

.ui-panel-images {
	width: 750px;
	height: 537px;
}

.ui-panel-images img {
	width: 750px;
	height: 537px;
}

.ui-galleria-panel-wrapper {
	width: 750px;
	height: 537px;
}

.ui-galleria-panel-wrapper img {
	width: 750px;
	height: 537px;
}

.ui-galleria {
	width: 100%;
	height: 100%;
}

.ui-galleria img {
	width: 100%;
	height: 100%;
}

.ui-panel-images {
	width: 100%;
}