<div class="container">
	<div class="row">
		<div class="col-lg-12 topbar"></div>
		<div class="col-lg-8" style="padding-left: 0">
			<img src="img/slide-1.jpg" style="width: 100%;">
		</div>
		<div class="col-lg-4 sidebar">
			<h3>Tell me more about this property</h3>
			<div class="inputdiv">
				<input pInputText type="text" placeholder="Full Name" size="30" />
			</div>
			<div class="inputdiv">
				<input pInputText type="email" placeholder="Email" size="30" />
			</div>
			<div class="inputdiv">
				<input pInputText type="tel" placeholder="Phone (optional)" size="30" />
			</div>
			<div class="inputdiv">
				<textarea rows="4" cols="30" pInputTextarea></textarea>
			</div>
			<button pButton type="button" label="Contact Agent"></button>
			<div style="padding-bottom: 30px"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<span class="homeinfo">534 Queen St.</span>
		</div>
		<div class="col-lg-4">
			<span class="homeinfo" style="float: right">$500,000</span>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div style="padding-bottom: 10px;">Philadelphia, PA 19147</div>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8" style="padding-bottom: 10px;">
			<span><strong>3</strong> beds <strong>2.5</strong> baths <strong>1700</strong> sq ft</span>
		</div>
		<div class="col-lg-4">
			<button pButton type="button" label="Watch this Listing"></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1>Property Details for 534 Queen St.</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
			<span><strong>Overview</strong></span>
		</div>
		<div class="col-lg-10">
		<p>Bella Vista unit in a great location and conveniently located to shopping, restaurants, businesses and so much more !
		 This is a bright 1 bedroom 1.5 bath bi-level condo with nice counter space, stainless steel appliances, and lot's of cabinets.
		  Laundry area, open living room space, powder room, and high ceilings, all with a bedroom with plenty of closets.
		</p>
		<div class="col-lg-5">
			<strong>Key Facts</strong>
			<hr>
			<ul>
				<li>Style: Traditional</li>
				<li>Single Family Home</li>
				<li>Year built: 1920</li>
				<li>Price/Sq Ft: $345</li>
				<li>Status: Active</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<strong>Schools</strong>
			<hr>
			<ul>
				<li>School District: Philadelphia</li>
			</ul>
		</div>
	</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
			<span><strong>Features</strong></span>
		</div>
		<div class="col-lg-5">
			<strong>Bedrooms</strong>
			<hr>
			<ul>
				<li>Bedrooms: 3</li>
				<li>Master Bedroom: 3rd Floor</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<strong>Bathrooms</strong>
			<hr>
			<ul>
				<li>Full Bathrooms: 2</li>
				<li>Half Bathrooms: 1</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-5">
			<strong>Kitchen and Dining</strong>
			<hr>
			<ul>
				<li>Dining Kitchen: Eat In Kitchen</li>
				<li>Dining Room: Yes</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<strong>Exterior and Lot Features</strong>
			<hr>
			<ul>
				<li>Sidewalks</li>
				<li>Streetlights</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-10">
			<strong>Other rooms</strong>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-5">
			<ul>
				<li>Laundry: Basement</li>
				<li>Living Room</li>
				<li>Front Room</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<ul>
				<li>Stories: 3</li>
				<li>Exterior: Brick</li>
				<li>Parking: Street</li>
			</ul>
		</div>
	</div>
</div>