<p-growl [value]="msgs" [life]="5000"></p-growl>
<div class="container">
	<div class="row sidebar">
		<div class="col-lg-12 topbar"></div>
		<div class="col-lg-8" style="padding-left: 0">
			<img src="img/{{listingDetail.id}}/{{listingDetail.mainPhoto}}" style="width: 100%;">
		</div>
		<form [formGroup]="theForm" (ngSubmit)="submitForm(theForm.value)">
		<div class="col-lg-4 form-group">
			<h3 style="padding-top: 20px;">Tell me more about this property</h3>
			<div style="height: 30px;"></div>
			<div class="inputdiv form-group" [ngClass]="{'has-error':!theForm.controls['theName'].valid && theForm.controls['theName'].touched}">
				<input pInputText class="form-control" type="text" placeholder="Full Name" size="30" [formControl]="theForm.controls['theName']"/>
				<div *ngIf="theForm.controls['theName'].hasError('required') && theForm.controls['theName'].touched" class="alert alert-danger">You must include a name.</div>
				<div *ngIf="theForm.controls['theName'].hasError('minlength') && theForm.controls['theName'].touched" class="alert alert-danger">Your name must be at least 5 character long.</div>
			</div>
			<div class="inputdiv form-group">
				<input pInputText class="form-control" type="email" placeholder="Email" size="30" [formControl]="theForm.controls['theEmail']"/>
				<div *ngIf="theForm.controls['theEmail'].hasError('required') && theForm.controls['theEmail'].touched" class="alert alert-danger">You must include an email.</div>
				<div *ngIf="theForm.controls['theEmail'].hasError('pattern') && theForm.controls['theEmail'].touched" class="alert alert-danger">You must include a valid email.</div>
			</div>
			<div class="inputdiv form-group">
				<input pInputText class="form-control" type="tel" placeholder="Phone (optional)" size="30" [formControl]="theForm.controls['thePhone']"/>
			</div>
			<div class="inputdiv form-group">
				<textarea rows="4" cols="32" class="form-control" pInputTextarea [formControl]="theForm.controls['theMessage']"></textarea>
				<div *ngIf="theForm.controls['theMessage'].hasError('required') && theForm.controls['theMessage'].touched" class="alert alert-danger">You must include a message.</div>
			</div>
			<div class="inputdiv form-group">
				<button pButton type="submit" label="Contact Agent" [disabled]="!theForm.valid"></button>
			</div>
			<div style="padding-bottom: 30px"></div>
		</div>
		</form>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<span class="homeinfo">{{listingDetail.street}}</span>
			<span class="homeinfo" style="float: right">{{listingDetail.price | currency}}</span>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div style="padding-bottom: 10px;">{{listingDetail.city}}, {{listingDetail.state}} {{listingDetail.zipCode}}</div>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8" style="padding-bottom: 10px;">
			<span><strong>{{listingDetail.bedrooms}}</strong> beds <strong>{{listingDetail.bathrooms}}</strong>
			baths <strong>{{listingDetail.squareFeet}}</strong> sq ft</span>
		</div>
		<div class="col-lg-4">
<!--			<button pButton type="button" label="Watch this Listing"></button>  -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1>Property Details for {{listingDetail.street}}</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
			<span><strong>Overview</strong></span>
		</div>
		<div class="col-lg-10">
		<p>{{listingDetail.overview}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-5">
			<strong>Key Facts</strong>
			<hr>
			<ul>
				<li>Style: {{listingDetail.style}}</li>
				<li>{{listingDetail.houseType}}</li>
				<li>Year built: {{listingDetail.yearBuilt}}</li>
				<li>Price/Sq Ft: ${{(listingDetail.price / listingDetail.squareFeet).toFixed(0)}}</li>
				<li>Status: {{listingDetail.status}}</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<strong>Schools</strong>
			<hr>
			<ul>
				<li>School District: {{listingDetail.schoolDistrict}}</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
			<span><strong>Features</strong></span>
		</div>
		<div class="col-lg-5">
			<strong>Bedrooms</strong>
			<hr>
			<ul>
				<li>Bedrooms: {{listingDetail.bedrooms}}</li>
				<li>Master Bedroom: {{listingDetail.masterBedroom}}</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<strong>Bathrooms</strong>
			<hr>
			<ul>
				<li>Full Bathrooms: {{listingDetail.fullBathrooms}}</li>
				<li>Half Bathrooms: {{listingDetail.halfBathrooms}}</li>
			</ul>
		</div>
	</div>
	<div class="row" style="padding-top: 20px;">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-5">
			<strong>Kitchen and Dining</strong>
			<hr>
			<ul>
				<li>Dining Kitchen: {{listingDetail.diningKitchen === true ? "Yes" : "No"}}</li>
				<li>Dining Room: {{listingDetail.diningRoom === true ? "Yes" : "No"}}</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<strong>Exterior and Lot Features</strong>
			<hr>
			<ul>
				<li *ngFor="let feature of listingDetail.exteriorFeatures">{{feature}}</li>
			</ul>
		</div>
	</div>
	<div class="row" style="padding-top: 20px;">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-10">
			<strong>Other rooms</strong>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2" style="padding-bottom: 10px;">
		</div>
		<div class="col-lg-5">
			<ul>
				<li *ngFor="let room of listingDetail.otherRooms">{{room}}</li>
			</ul>
		</div>
		<div class="col-lg-5">
			<ul>
				<li>Stories: {{listingDetail.stories}}</li>
				<li>Exterior: {{listingDetail.exterior}}</li>
				<li>Parking: {{listingDetail.parking}}</li>
			</ul>
		</div>
	</div>
</div>