<div class="container">
<p-dataGrid [value]="listings"
        [paginator]="true"
        [rows]="9">
    <template let-listing>
   
       	 <div style="padding:3px" class="ui-g-12 ui-md-4">
			<p-panel header="{{listing.street}} {{listing.city}}, {{listing.state}} {{listing.zipCode}}">
				<div style="text-align: center"><strong>${{listing.price}}</strong></div>
			 	<img src="img/{{listing.id}}/{{listing.mainPhoto}}" style="max-width: 100%; cursor: pointer;" (click)="detail(listing)">
				<div style="text-align: center">{{listing.houseType}}</div>
				<div style="text-align: center">
					<strong>{{listing.bedrooms}}</strong> bd | 
					<strong>{{listing.bathrooms}}</strong> ba | 
					<strong>{{listing.squareFeet}}</strong> sq ft
				</div>
			</p-panel>
        </div>
    </template>
</p-dataGrid></div>
