<div class="container">
	<p-panel [collapsed]="true" [toggleable]="true" header="Search">
		<p>
		Lorem elit, lectus, aliquet dolor massa, urna dignissim, cras ut mattis in porta duis velit nec integer porta ac dignissim ultricies.
		 Etiam? Turpis tristique lacus porta urna natoque aliquet ultricies, a elit purus mattis? Augue adipiscing? Turpis augue, risus nunc rhoncus tempor, rhoncus integer mauris! Porta nunc augue! Tristique, augue sit auctor cursus ac enim aenean! Nisi in non integer, urna risus in ut, in urna magna pulvinar.
		 Porttitor purus! Dignissim, ultricies, ultrices! Augue aliquet in mauris dolor urna duis, lacus urna, ultricies.
		 Duis, porta mattis, turpis natoque mauris quis.
		 Lundium dolor, et? Hac platea eros natoque nunc mauris ac! Tempor aenean nunc augue risus sit mattis est.
		 Sit in. Non ridiculus tincidunt in pid et cras amet magna hac.
		</p>

		<p>
		Sociis, arcu tortor lorem nec cras in, velit pellentesque elit placerat auctor.
		 Rhoncus ultrices, platea vel placerat.
		 Habitasse quis, augue pulvinar augue porttitor, proin elementum elit mus facilisis ut, hac elementum duis! Sit rhoncus mauris.
		 Enim a. Non, elementum.
		 Et sit.
		 Platea scelerisque a lacus, penatibus odio facilisis ac? Lorem sociis.
		 Duis porta, rhoncus, aliquet adipiscing adipiscing adipiscing arcu! Proin urna dictumst pulvinar magna amet tincidunt egestas nisi habitasse, nunc montes.
		 Auctor placerat! Enim? Egestas penatibus habitasse placerat ultrices, et, lorem sit, et ultricies platea? Sed eros.
		 Porta penatibus, sit sed, est proin non turpis.
		 Dolor natoque.
		 Lacus, ut cursus ut odio mid magna, turpis tristique porttitor montes tempor magna.
		 A, scelerisque elementum tempor tincidunt dictumst, facilisis, risus ut.
		</p>
	</p-panel>
</div>