<div id="top">
<div class="carousel-inner">
<picture>
	<source media="(max-width: 450px)" srcset="img/mobile.jpeg">
<img src="img/house.jpeg" class="intro-image">
</picture>
<span class="text-overlay1">
Welcome to Express Realty
</span>
</div>
</div>
<div class="container" id="featured" style="padding-top: 100px;">
<div class="row">
	<div class="box">
		<div class="col-lg-12 text-center">
			<div id="carousel-example-generic" class="carousel slide">
				<!-- Indicators for slides -->
				<ol class="carousel-indicators">
					<template ngFor let-item [ngForOf]="featuredListingDtos" let-i="index">
						<li *ngIf="i === 0" data-target="#carousel-example-generic" [attr.data-slide-to]="i" class="active"></li>
						<li *ngIf="i !== 0" data-target="#carousel-example-generic" [attr.data-slide-to]="i"></li>
					</template>
			    </ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<template ngFor let-item [ngForOf]="featuredListingDtos" let-i="index">
					<div *ngIf="i === 0" class="item active">
						<img class="img-responsive img-full img-with-text" src="img/{{item.id}}/{{item.mainPhoto}}" alt="Featured home">
						<span class="text-overlay"><a routerLink="/app-listing-detail/{{item.id}}" fragment="top">View this home.</a></span>
					</div>
					<div *ngIf="i !== 0" class="item">
						<img class="img-responsive img-full img-with-text" src="img/{{item.id}}/{{item.mainPhoto}}" alt="Featured home">
						<span class="text-overlay"><a routerLink="/app-listing-detail/{{item.id}}">View this home.</a></span>
					</div>
					</template>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic"
					data-slide="prev"> <span class="icon-prev"></span>
				</a> <a class="right carousel-control" href="#carousel-example-generic"
					data-slide="next"> <span class="icon-next"></span>
				</a>
			</div>
			<h1 class="brand-name">Featured Homes</h1>
			<hr class="tagline-divider">
		</div>
	</div>
</div>
</div>
<div style="height: 50px;"></div>
<section id="about">
	 <div class="container about-section">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Express Realty</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/1/pexels-photo-242250.jpeg" alt="Home">
                </div>
                <div class="col-md-6">
                    <p>This is an example of a real estate website.  Feel free to view it on your computer, mobile phone, or tablet.</p>
                    <p>
                    	For the configuration backend, please go to:
                    	<a href="http://matrix.gs:8080/RealtorBackend" target="_blank">http://matrix.gs/RealtorBackend</a>
                    </p>
                    <p>
                    	To view the code for this site on github, please go to:
                    	<a href="https://github.com/billreh/RealtorWebsite" target="_blank">https://github.com/billreh/RealtorWebsite</a>
                    </p>
                    <p>
                    	To view the code for the backend webservices and configuration for this site, please go to:
                    	<a href="https://github.com/billreh/RealtorBackend" target="_blank">https://github.com/billreh/RealtorBackend</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>