<div class="container">
<div class="row">
	<div class="box">
		<div class="col-lg-12 text-center">
			<div id="carousel-example-generic" class="carousel slide">

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<template ngFor let-item [ngForOf]="featuredListingDtos" let-i="index">
					<div *ngIf="i === 0" class="item active">
						<img class="img-responsive img-full img-with-text" src="img/{{item.id}}/{{item.mainPhoto}}" alt="Featured home">
						<span class="text-overlay"><a routerLink="/app-listing-detail/{{item.id}}">View this home.</a></span>
					</div>
					<div *ngIf="i !== 0" class="item">
						<img class="img-responsive img-full img-with-text" src="img/{{item.id}}/{{item.mainPhoto}}" alt="Featured home">
						<span class="text-overlay"><a routerLink="/app-listing-detail/{{item.id}}">View this home.</a></span>
					</div>
					</template>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic"
					data-slide="prev"> <span class="icon-prev"></span>
				</a> <a class="right carousel-control" href="#carousel-example-generic"
					data-slide="next"> <span class="icon-next"></span>
				</a>
			</div>
			<h1 class="brand-name">Featured Homes</h1>
			<hr class="tagline-divider">
		</div>
	</div>
</div>
</div>
<div style="height: 50px;"></div>
<section id="about">
	 <div class="container" class="about-section">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Express Realty</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/1/pexels-photo-242250.jpeg" alt="Home">
                </div>
                <div class="col-md-6">
                    <p>This is an example of a real estate website.</p>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>