.intro-image {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
}

@media only screen and (max-width: 340px) {
	.intro-image {
		width: 100%;
		position: relative;
		left: 0px;
		top: 0px;
		margin-bottom: 100px;
		padding-top: 100px;
	}
}

.about-section {
    height: 100%;
    margin-top: 120px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background: #eee;
    margin-bottom: 100px;
}

.img-with-text {
	position: relative;
	max-height: 500px;
	width: 100%;
}

.text-overlay1 {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	color: white;
	font: 24px bold;
	background: rgba(0,0,0,0.7);
	padding: 10px;
}

@media only screen and (min-width: 1300px) {
	.text-overlay1 {
		position: absolute;
		bottom: 120px;
		left: 0;
		width: 100%;
		height: 50px;
		max-height: 50px;
		color: white;
		font: 24px bold;
		background: rgba(0,0,0,0.7);
		padding: 10px;
	}
}

.text-overlay {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	color: white;
	font: 24px bold;
	background: rgba(0,0,0,0.7);
	padding: 10px;
}

.text-overlay a {
	color: white;
}